<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="win-page">
      <div class="win-page-content">
        <div class="win-page-content-header">
          <h1>Test Complete!</h1>
          <p>Test your typing speed and accuracy with our typing speed test.</p>
        </div>
        <div class="win-page-content-body">
          <div class="win-page-content-body-item">
            <div class="win-page-content-body-item-header">
              <span>WPM:</span>
              <span id="personal-best"></span>
            </div>
            <div class="win-page-content-body-item-body">
              <span>Accuracy:</span>
              <span id="accuracy"></span>
            </div>
            <div class="win-page-content-body-item-footer">
              <span>Time:</span>
              <span id="time-left"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="module" src="../src/modules/storage.js"></script>
  <script type="module" src="../src/win-page.js"></script>
</html>
