@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

:root {
  --color-neutral-900: #121212;
  --color-neutral-500: #717178;
  --color-neutral-400: #949497;

  --color-green-500: #4dd67b;
  --color-red-500: #d64d5b;

  --text-preset-1-regular: "Sora", sans-serif;

  --radius-8: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-neutral-900);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.successes {
  color: var(--color-green-500);
}

.wrong {
  color: var(--color-red-500);
  text-decoration: underline var(--color-red-500) 1px;
}

#app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: var(--text-preset-1-regular);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 136%;
  letter-spacing: 0.4px;

  & div {
    display: inline-block;
    position: relative;
    white-space: break-spaces;
  }

  & div:not(.wrong):not(.successes) {
    color: var(--color-neutral-400);
  }
}

.stats {
  display: flex;
}

.active::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 70%;
  top: 10px;
  border-radius: 5px;
  background-color: #9494975b;
}

/* buttons */
label {
  cursor: pointer;
  border: 1px solid white;
  padding: 10px 20px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: inline-block;
  border-color: var(--color-neutral-500);
  border-radius: var(--radius-8);
  padding: 10px 6px;
  height: 31px;
}
