@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

:root {
  --color-neutral-900: #121212;
  --color-neutral-500: #717178;
  --color-neutral-400: #949497;

  --color-green-500: #4dd67b;
  --color-red-500: #d64d5b;

  --text-preset-1-regular: "Sora", sans-serif;

  --radius-8: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-neutral-900);
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 32px 112px;

}

.successes {
  color: var(--color-green-500);
}

.wrong {
  color: var(--color-red-500);
  text-decoration: underline var(--color-red-500) 1px;
}

.header {
  justify-content: space-between;
  margin-bottom: 64px;
}

.btn-restart {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#app {
  font-family: var(--text-preset-1-regular);
  font-optical-sizing: auto;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 136%;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  position: relative;

  div {
    display: inline-block;
    position: relative;
    white-space: break-spaces;
  }

  div:not(.wrong):not(.successes) {
    color: var(--color-neutral-400);
  }
}

.flex {
  display: flex;
}

.blur {
  filter: blur(6px);
}

.hide {
  display: none;
}

.stats {
  justify-content: space-between;
}

.active::after {
  background-color: #9494975b;
  border-radius: 5px;
  content: "";
  display: block;
  height: 70%;
  position: absolute;
  top: 10px;
  width: 100%;
}

/* buttons */
label {
  border: 1px solid white;
  cursor: pointer;
  padding: 3px 8px;
  border-color: var(--color-neutral-500);
  border-radius: var(--radius-8);
  display: inline-block;
  height: 31px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+label {
  background-color: var(--color-neutral-500);
}

.stats div {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}